fastapi==0.135.1
uvicorn==0.41.0
SQLAlchemy==2.0.48
PyMySQL==1.1.2
passlib[bcrypt]==1.7.4
PyJWT==2.11.0
pydantic[email]==2.12.5
python-dotenv==1.2.2
fastapi-mail==1.6.2
python-multipart==0.0.22
httpx==0.28.1
ultralytics==8.4.19
opencv-python-headless==4.10.0.84
Pillow==12.1.1
open_clip_torch==2.31.0
