venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
BSAI.xcodeproj/project.xcworkspace/xcuserdata/
BSAI.xcodeproj/xcuserdata/
node_modules/
dist/
build/
.next/
.env*
App_Backend/uploads/
AI_Training_Backend/models/
AI_Training_Backend/__pycache__/
AI_Training_Backend/venv/
AI_Training_Backend/.DS_Store
AI_Training_Backend/__pycache__/
